#AboutMe {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

 #AboutMe::after{
    content:'';
    background-image:url(./bc-abstract.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    opacity: 0.25;
}

.buttonMousse {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
    position: relative;
}
.sectAbout {
    display: flex; 
    justify-content: space-evenly;
    padding-top: 100px; 
    margin-left: 100px;
    margin-right: 64px;
    padding-bottom: 30px;
    gap: 50px;
}

.artText {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 880px;
}

.title {
   width: 350px;
   z-index: 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px;
    height: 350px;
    background-color: var(--background-color1);
    border-radius: 15px;

}
.imgP {
    width: 25px;
    z-index: 0;
}

.imgArt {
    width: 460px;
}

h3 {
 color: var(--title-color1);
 font-family: var(--font-family-tittle);
 font-size: 5vw;
 font-weight: var(--font-weigth-light-regular);
}

.textInfo {
    color: var(--color-white);
    font-family: var(--font-family-tittle); 
    font-weight: var(--font-weigth-thin);
    z-index: 0;
}

.green {
    color: var(--title-color1);
  }

@media screen and (max-width: 850px) {
    input {
        flex-grow: 0.6;
    }
    .sectAbout  {
    flex-wrap: wrap; 
    gap: 10px;
    padding-top: 50px;
    }
        
    .buttonMousse {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
}
    .text {
    margin-top: 20px;
    padding: 10px;
    height: 300px;
    background-color: var(--background-color1);
    border-radius: 15px;
}

.imgP {
    width: 20px;
}

.imgArt {
    width: 360px;
}

.title {
    width: 250px;
    z-index: 0;
}

}

@media screen and (max-width: 700px) {
    .imgArt {
        display: none;
    }

    .text {
        height: 450px;
    }

    .textInfo {
        display: block;
    }
    .imgP {
        width: 25px;
    }
}
@media screen and (max-width: 520px) {
    .textInfo {
    font-size: 3vw;
    }
}
@media screen and (max-width: 550px) {
    
}