footer {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-links {   
    display: flex;
    gap: 10px;
}
  .footer-links img {
    cursor: pointer;

  }