 #Works {
    text-align: center;
    padding-bottom: 20vh
  }

 #Works::after{
    content:'';
    background-image:url(./bc-abstract.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    opacity: 0.25;
  }
  .divCards, .sectionWorks {
    width: 80vw;
    margin: 0 auto;
  }

  .sectionWorks {
  display: grid;
  place-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 10px;
  }

  .ulCards {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    margin-bottom: var(--card-margin);
  }
  .ulCards li{
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .divC {
    box-shadow: 0 0.2em 1em rgba(18, 247, 214, 0.1), 0 1em 2em rgba(18, 247, 214, 0.1);
    background: var(--background-color1);
    color: #131212;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.4em;
    margin-left: 20px;
  }
  .divRed{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
  }
  .divC > div {
    grid-area: text;
    width: 95%;
    max-width: 800px;
    place-self: center;
    text-align: left;
    gap: 1em;
    place-items: start;
    margin-bottom: 10px;
  }
  .btnGit, .btnNet {
    margin-left: 0px;
  }
  
  .divC > figure {
    overflow: hidden;
  }
  
  .divC > figure > img {
    width: 600px;
    height: 100%;
    object-fit:fill;
    border-radius: .4em;
  }

  h2 {
    font-weight: bold;
    font-size: 5vw;
    margin: 0;
  }

@media screen and (max-width: 500px) {
  .divC > figure > img {
    display: none;
  }
   .divC {
    padding: 1em;

 }

}
